.checkbox-input {
  display: flex;
  gap: 0.5rem;
  margin: 0;
}

.search-bar-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  background-color: #e7e7e7;
}

.search-bar-form [ type = "text" ] {
  width: 100%;
}

.search-bar-form label {
  width: 100%;
}

.search-bar-form textarea {
  width: 100%;
}

.search-bar-form select {
  width: 100%;
}

